@using Microsoft.AspNetCore.Identity
@using Therania.Data
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity"
               asp-page="/Account/Manage/Index" title="Manage">
                Hello
                @User.FindFirstValue("FullName")
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/", new {area = ""})"
                  asp-area="Identity" method="post">
                <button class="nav-link btn btn-link"
                        type="submit">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity"
               asp-page="/Account/RegisterTherapist">
                Register as Therapist 
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity"
               asp-page="/Account/Register">
                Register as Patient
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity"
               asp-page="/Account/Login">
                Login
            </a>
        </li>
    }