<MudCarouselItem Transition="_transition" Color="@Color.Primary">
    <div class="d-flex">
        <MudImage Style="filter: blur(8px); -webkit-filter: blur(8px);" ObjectFit="ObjectFit.Cover" Src="@ItemImage"/>
        <MudText Typo="Typo.h2" Style="position: absolute; top: 40%; left: 50%;transform: translate(-50%, -50%);">@BigText</MudText>
        <MudText Typo="Typo.body1" Style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);">@ItemText</MudText>
    </div>
</MudCarouselItem>

@code {

    // placeholder text and image if they weren't provided in the component
    [Parameter]
    public string ItemText { get; set; } = "placeholder text item";

    [Parameter]
    public string BigText { get; set; } = "Welcome to Therania";

    [Parameter]
    public string? ItemImage { get; set; } = "images/carousel-image.jpg";

    Transition _transition = Transition.Fade;
}