@model AddUsersViewModel

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-action="AddTherapist" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                <label></label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label></label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label></label>
                <span class="text-danger"></span>
            </div>
            <input id="registerSubmit" type="submit" value="Add Therapist" class="w-100 btn btn-lg btn-primary">
            @* <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add Patient</button> *@
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
